<!DOCTYPE html>

<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>{{title}}</title>
        {%block css%}{%endblock css%}
        {% block script %}{% endblock script %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-32798219-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </head>
    <body>
        <div class="head-container">
            <div class="user">
            {% block options%}{%endblock%}
            {% if user%}
                {{title}}|<a href='/logout'>logout</a>
            {% else %}
                {%block login%}<a href='/login'>login</a>|{%endblock login%}
                <a href='/signup'>signup</a>
            {% endif%}
            </div>
        </div>
        {% block content %}Redirecting....{% endblock content %}
    </body>
</html>
