{% extends "base.html" %}
{% block script%}
        <script type="text/javascript"  src="/static/script/AC_OETags.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
        <script type="text/javascript" src="/static/script/ajax_process.js"></script>
        <script language="JavaScript" type="text/javascript">
            var requiredMajorVersion = 10;
            var requiredMinorVersion = 0;
            var requiredRevision = 22;
        </script>
{% endblock script %}
{%block content%}
        
        <div class="viewfinder">
            <script type="text/javascript" src="/static/script/flash.js"></script>
            <noscript>
              	<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"
			            id="mirror" width="100%" height="100%"
			            codebase="http://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab">
			            <param name="movie" value="mirror.swf" />
			            <param name="quality" value="high" />
			            <param name="bgcolor" value="#869ca7" />
			            <param name="allowScriptAccess" value="sameDomain" />
			            <param name="allowFullScreen" value="true" />
			            <embed src="mirror.swf" quality="high" bgcolor="#869ca7"
				            width="100%" height="100%" name="mirror" align="middle"
				            play="true"
				            loop="false"
				            quality="high"
				            allowScriptAccess="sameDomain"
				            allowFullScreen="true"
				            type="application/x-shockwave-flash"
				            pluginspage="http://www.adobe.com/go/getflashplayer">
			            </embed>
	            </object>
            </noscript>
        </div>
        
        <div style="display:none" id="form_container">
            <form id="facetag_submission" action="" method="POST">
                <input type="file" accept="image/*" value=""/>
                <input type="image" value=""/>
            </form>
        </div>
        
        
        <div>
            <img style="display:none" src="" id="snap" />
        </div>
{%endblock content%}
