{% extends "base.html" %}
{% set title= "Login"%}
{% block login%}{% endblock login %}
{% block content%}
        <form action="/login" method="POST">
            <div class="login_form">
                <div class="login_header">
                    Login
                </div>
                <div class="login_fields">
                    <label>Username</label>
                    <input type="text" name="user_id" value="{{user_id}}" placeholder="username"/></br>
                    <label>Password</label>
                    <input type="password" name="password" value="" placeholder="*********"/></br>
                </div>
                <div class="error">
                {{error}}
                </div>
                <p><input type="submit" value="Login"/></p>
            </div>
        </form>
{% endblock content %}
