{%set title="Signup"%}

{%block css%}
            <style type='text/css'>
                input {width: 300px}
                .label{text-align:right width:200px}
                .error{color: red}
            </style>
{%endblock css%}
{%block content%}
            <h1>Signup</h1>
            <form method='POST'>
                    {{error}}</br>
                    <label class='label'>
                    Username
                    <input name='username' type='text' placeholder='Enter your username' value='{{username}}'>
                    <label class='error'>{{usererror}}</label>
                    </br>
                </label>
                <label class='label'>
                    Password
                    <input name='password' type='password' placeholder="********">
                    <label class='error'>{{pass_invalid}}</label>
                    </br>
                </label>
                <label class='label'>
                    Verify Password
                    <input name='verify' type='password' placeholder="********">
                    <label class='error'>{{pass_mismatch}}</label>
                    </br>
                </label>
                <label class='label'>
                    Email
                    <input name='email' type='text' placeholder='Enter your email address'  value='{{email}}'>
                    <label class="error">{{email_invalid}}</label>
                    </br>
                </label>
                <label class='label'>
                    Page URL you want Facetag for
                    <input style="width: 400px" name='page' type='text' placeholder='facebook.com/pages/name/id or facebook.com/name'  value='{{page}}'>
                    <label class="error">{{page_invalid}}</label>
                    </br>
                </label>
                <input name='page_id' type='hidden' placeholder='facebook.com/pages/name/id or facebook.com/name'  value='{{page_id}}'>
                <input type='submit' value='Submit'>
            </form>
{%endblock content%}
